@model LoggedOutViewModel

@{ // set this so the layout rendering sees an anonymous user
                ViewData["signed-out"] = true; }

<div class="logged-out-page">
    <h1>
        退出登录
        <small>您现在已退出登录</small>
    </h1>

    @if (Model.PostLogoutRedirectUri != null)
    {
<div>
    Click <a class="PostLogoutRedirectUri" href="@Model.PostLogoutRedirectUri">这里</a> 返回
    <span>@Model.ClientName</span> 应用.
</div>}

    @if (Model.SignOutIframeUrl != null)
    {
<iframe width="0" height="0" class="signout" src="@Model.SignOutIframeUrl"></iframe>}
</div>

@section scripts
{
    @if (Model.AutomaticRedirectAfterSignOut)
    {
<script src="~/js/signout-redirect.js"></script>}
}